@font-face {
    font-family: Ubuntu Bold;
    src: url("../fonts/ubuntu/Ubuntu/Ubuntu-Bold.ttf");
}

@font-face {
    font-family: OpenSans Light;
    src: url("../fonts/open sans/Open Sans/OpenSans-Light.ttf");
}

@font-face {
    font-family: OpenSans SemiBold;
    src: url("../fonts/open sans/Open Sans/OpenSans-SemiBold.ttf");
}

@font-face {
    font-family: OpenSans Regular;
    src: url("../fonts/open sans/Open Sans/OpenSans-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin:0;
    padding:0;
    height:100%;
}

#container {
    min-height:100%;
    max-width: 1366px;
    width: 1366px;
    position:relative;
    margin: 0 auto;
}

header {
    position: fixed;
    max-width: 253px;
    width: 253px;
    height: 100vh;
    padding: 25px 10px 25px 28px;
    z-index: 1;
    background-color: #e5e1e6;
}

header .logo {
    margin-bottom: 55px;
}

header .menu,
header .sub-menu,
header .more-menu {
    list-style: none;
}

header .menu {
    font-family: Ubuntu Bold, sans-serif;
    margin-bottom: 85px;
}

header .menu > li {
    margin-bottom: 40px;
    font-size: 14px;
}

header .menu a,
header .more-menu a {
    text-decoration: none;
    color: #071d49;
}

header .menu > li a:active,
header .menu > li a:hover,
header .more-menu > li a:hover {
    color: #e87722;
}

header .sub-menu li:before {
    content: '';
    position: absolute;
    height: 5px;
    background-color: #e87722;
    width: 0;
    margin-top: calc(11px - 2.5px);
    left: 0;
    transition: all 200ms;
}

header .sub-menu li.active:before {
    content: '';
    position: absolute;
    height: 5px;
    background-color: #e87722;
    width: 44px;
    margin-top: calc(11px - 2.5px);
    left: 0;
}

header .sub-menu {
    margin-top: 33px;
    margin-left: 28px;
}

header .more-menu,
header .sub-menu {
    font-family: OpenSans Light, sans-serif;
    font-size: 11px;
    line-height: 22px;
}

.main {
    /*min-height: 978px;*/
    padding-bottom: 220px;
}

.main,
footer {
    margin-left: 253px
}

.main section {
    height: 768px;
    display: flex;
    position: relative;
    flex-direction: row;
}

.main .section-image,
.main .section-content {
    height: 100%;
}

.main .section-image {
    width: 578px;
}

.main .section-content {
    width: 535px;
    padding: 40px 50px 40px 35px;
}

.main .section-content > .title {
    margin-left: 35px;
    margin-bottom: 45px;
    color: #e87722;
    font-family: OpenSans SemiBold, sans-serif;
    font-size: 24px;
}

.main .section-content .description {
    position: relative;
    padding-left: 60px;
    margin-bottom: 65px;
}

.main #infrastructure .section-content .description .text {
    position: absolute;
    top: 0;
    right: 0;
    width: 224px;
    font-family: OpenSans SemiBold, sans-serif;
    font-size: 17px;
}

.main #infrastructure .section-content .fon-text {
    font-family: Ubuntu Bold, sans-serif;
    font-size: 57px;
    color: #cdcaca;
}

.main #infrastructure .section-image {
    background: url("../img/aron-van-de-pol-115112-unsplash.jpg") no-repeat center center;
    background-size: auto 769px;
}

.main #solutions .section-image {
    background: url("../img/samuel-zeller-722370-unsplash.jpg") no-repeat center center;
    background-size: auto 768px;
}

.main #work-with .section-image {
    background: url("../img/dylan-gillis-533818-unsplash.jpg") no-repeat center center;
    background-size: auto 768px;
}

.main #solutions .description {
    margin-top: 122px;
    margin-left: 95px;
    font-family: OpenSans SemiBold, sans-serif;
    font-size: 18px;
    padding-left: 0;
}

.main #solutions .description li {
    list-style: none;
    margin-top: 15px;
}

.main #solutions .description .button {
    margin-top: 55px;
}

.main #work-with .section-content {
    padding-right: 39px;
}

.main #work-with .section-content > .title {
    margin-bottom: 35px;
}

.main #work-with .section-content .description {
    padding-left: 28px;
}

.main #work-with .section-content .description .title {
    position: relative;
    font-size: 40px;
    font-family: Ubuntu Bold, sans-serif;
    color: #071d49;
}

.main #work-with .section-content .description .text {
    font-family: OpenSans Regular, sans-serif;
    font-size: 14px;
    margin: 10px 34px 33px 8px;
}

.main .button {
    display: inline-block;
    padding: 15px 0;
    font-size: 14px;
    font-family: Ubuntu Bold, sans-serif;
    color: #ffffff;
    background-color: #071d49;
    width: 135px;
    text-align: center;
}

.main .button:hover {
    cursor: pointer;
    background-color: #e87722;
}

footer {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 0;
    width: 1113px;
    height: 220px;
    background: #071d49;
    padding: 50px 45px 0 67px;
    font-size: 14px;
    color: #ffffff;
}

footer .contacts {
    margin-right: 86px;
}

footer .contacts .content {
    font-family: OpenSans Regular, sans-serif;
}

footer .location {
    margin-right: 15px;
}

footer .title {
    margin-bottom: 25px;
    font-family: Ubuntu Bold, sans-serif;
}

footer > div:last-child .title {
    margin-bottom: 15px;
    margin-left: 20px;
}

footer .logos {
    display: flex;
    align-items: center;
}

footer .logos > div {
    display: inline-block;
    width: 100px;
}

footer .logos img {
    display: block;
    margin: 0 auto;
}

footer .logos img:not(:last-child) {
    margin-bottom: 11px;
}

/*@media screen and (max-height: 730px) {
    header {
        position: relative;
        float: left;
        height: 978px;
    }
}*/

.svg {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
    stroke-width: 8;
}




